.jumbotron h1{
    font-size: 63px;
}
.jumbotron{
    margin-top:5%;
    background-color: #1C1E22 !important;
    color: #FFE426;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 6px;
}
.jumbotron p{
    font-size: 21px;
    font-weight: 200;
}